.home-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4em;
}
.home-grid{
    display: grid;
    grid-template-columns: 2fr .5fr;
    max-width: 680px;
    width: 100%;
}
.text-cont{
    color: #bec9ce;
}
.profile-pic {
    width: 100%;
    border-radius: 8px;
}
.description{
    background: transparent;
    font-size: medium;
    line-height: 1.5;
    padding: 1em 0;
}
.hi{
    font-family: "aguire", sans-serif;
    letter-spacing: 2px;
}
@media (max-width: 768px) {
    .home-grid {
        grid-template-columns: 1fr;
        padding: 0 1em;
    }
    .text-cont {
        font-size: 1.5em;
    }
    .description {
        font-size: small;
    }
}
@media (max-width: 480px) {
    .home-section {
        margin-top: 2em;
    }

    .text-cont {
        font-size: 1.2em;
    }

    .description {
        font-size: smaller;
    }
}