.work-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    transition: all 0.8s ease-in;
}

.work-container{
    border: none;
    max-width: 680px;
    width: 100%;
    transition: all 0.8s ease-in;
}

.work-xp{
    color: #bec9ce;
    font-size: 1.2em;
    transition: all 0.8s ease-in;
}

.mac-e{
    display: grid;
    grid-template-columns: .2fr .9fr;
    margin-top: 1em;
    cursor: pointer;
    transition: all 0.8s ease-in;
}

.xp-image{
    display: grid;
    justify-content: center;
    align-items: center;
    padding: .2em;
    transition: all 0.8s ease-in;
}

.xp-info{
    display: flex;
    justify-content: space-between;
    font-size: 1.1em;
    transition: all 0.8s ease-in;
}

.work-logo{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: all 0.8s ease-in;
}

.company-info{
    color: #bec9ce;
    display: flex;
    text-align: center;
    gap: 5px;
    align-items: center;
    transition: all 0.8s ease-in;
}

.work-period{
    color: #bec9ce;
    transition: all 0.8s ease-in;
}

.mac-e:hover .overflow-info {
    display: block;
    opacity: 1;
}

.overflow-info{
    color: #bec9ce;
    font-size: .9em;
    margin-top: 1em;
    display: none;
    opacity: 0;
    transition: all 0.8s ease-in;
}

@media (max-width: 768px) {
    .work-section{
        padding: 1em;
    }

    .xp-info {
        flex-direction: column;
        align-items: flex-start;
    }

    .work-logo {
        width: 40px;
        height: 40px;
    }

    .company-info {
        font-size: .8em;
    }

    .work-period {
        font-size: .8em;
    }

    .overflow-info {
        font-size: 0.8em;
    }
}

@media (max-width: 480px) {
    .work-container {
        padding: 0 1em;
    }

    .xp-info {
        font-size: 1em;
    }

    .work-logo {
        width: 30px;
        height: 30px;
    }

    .company-info {
        font-size: 0.9em;
    }

    .work-period {
        font-size: 0.9em;
    }

    .overflow-info {
        font-size: 0.7em;
    }
}